.profile {
    width: 300px;
    height: 300px;
}

#sections,
.list-group-item,
.list-group-item:focus {
    background-color: #efe3ca;
    border-radius: 0;
}

.list-group-item:hover {
    background-color: #D7C0AE;
}

.list-group-item {
    border: 1px solid;
    border-color: #d7c0ae;
}

/* reduce the top padding of the first section to avoid extra space */
/* section:not(section section):first-child {
    padding-top: 50px;
  } */

.section {
    padding: 21px;
}

.section:not(section section):nth-of-type(even) {
    background-color: #d6dbde;
}


.section ul > ::before {
    content: ">  ";
    color: #043f83;
}

.section ul ul > ::before {
    content: ">>  ";
}

.section li > p {
    position: relative;
    border-bottom: 1px solid #48b2;
    cursor: default;
    transition: color 0.4s;
    margin-bottom: 7px;
    display: inline;
}

.list-group-item-action.active {
    background-color: #967E76;
    border-color: #967E76;
    color: white;
}


.section .xxl {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}


.section .xl {
    text-align: left;
    color: #222;
    font-size: 25px;
    font-weight: 400;
    /* text-transform: uppercase; */
    word-spacing: 1px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.bi {
    margin: 0px 10px 0px 10px;
}